td,th{
    border:solid 2px black,
}
table{
    border-collapse: collapse;
}
img{

    border-radius: 30px;
}
td , tr{
    height: auto;
    width: 30%;
}
body{
    text-align-last: center;
    background-color: black;
    background-size: cover;
    color: rgb(255, 230, 0);
}